@page
@model PizzaApp.Pages.Admin.Pizzas.IndexModel

@{
    ViewData["Title"] = "Pizza management";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pizza[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pizza[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pizza[0].Vegetarian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pizza[0].Ingredients)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pizza) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vegetarian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredients)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PizzaId">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.PizzaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
